@import './imports.scss';

.App{
    min-height: 100vh;
    background: linear-gradient(to bottom, darken($morado,10),$morado);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        color: white;
        text-align: center;
        a{
            color: $rosado;
            font-weight: bold;
            text-decoration: none;
        }
    }
    &>div{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
}